@model IEnumerable<Social_Media.Models.User>
@using Social_Media.Controllers;
@using Social_Media.Models;
@using System.Linq;
@{
    ViewBag.Title = "CreateGroup";
}
@{
    var data = ViewBag.data;
}

@RenderPage("~/Views/Shared/_header.cshtml")


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CreateGroup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css">
</head>


<body class="sign-in">


    <div class="wrapper">


        <div class="sign-in-page">
            <div class="signin-popup">
                <div class="signin-pop">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cmp-info">
                                <div class="cm-logo">
                                    <img src="images/cm-logo.png" alt="">
                                    <p>A group is a page created for an organization or business to promote activities. Users can join the group and post their thoughts on a wall and interact through discussion threads.</p>
                                </div><!--cm-logo end-->
                                <img src="images/cm-main-img.png" alt="">
                            </div><!--cmp-info end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="login-sec">
                                <ul class="sign-control">
                                    <li data-tab="tab-1" class="current"><a href="#" title="">Create Group</a></li>

                                </ul>
                                <div class="sign_in_sec current" id="tab-1">
                                    @{
                                        int max = 1;
                                        MyDbcontext db = new MyDbcontext();
                                        var tmp = db.Group.ToList();
                                        if (tmp.Count != 0)
                                        {
                                            max = db.Group.Max(p => p.GroupID);
                                            max++;
                                        }

                                    }
                                    <h3>Create Group</h3>
                                    @using (Html.BeginForm("AddMembers", "Group", new { Id = max }, FormMethod.Get))
                                    {
                                        <form action="https://localhost:44343/Search/all" method="get">
                                            <div class="row">
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="group_name" placeholder="Group Name">
                                                        <i class="la la-building"></i>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="desc" placeholder="Description">

                                                    </div>
                                                </div>

                                                <div class="col-lg-12 no-pdd">
                                                    <div class="checky-sec st2">
                                                        <div class="fgt-sec">
                                                            <input type="checkbox" name="cc" id="c3">
                                                            <label for="c3">
                                                                <span></span>
                                                            </label>
                                                            <small>Yes, I understand and agree to the Group Terms & Conditions.</small>
                                                        </div><!--fgt-sec end-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">

                                                    <button type="submit" value="submit" onclick="Create()">Create Group</button>


                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div><!--dff-tab end-->
                            </div>
                        </div><!--login-sec end-->
                    </div>
                </div>
            </div><!--signin-pop end-->
        </div><!--signin-popup end-->
        <div class="footy-sec">
            <div class="container">
                <ul>
                    <li><a href="#" title="">Help Center</a></li>
                    <li><a href="#" title="">Privacy Policy</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                    <li><a href="#" title="">Cookies Policy</a></li>
                    <li><a href="#" title="">Career</a></li>
                    <li><a href="#" title="">Forum</a></li>
                    <li><a href="#" title="">Language</a></li>
                    <li><a href="#" title="">Copyright Policy</a></li>
                </ul>
                <p><img src="images/copy-icon.png" alt="">Copyright 2018</p>
            </div>
        </div><!--footy-sec end-->
    </div><!--sign-in-page end-->




    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/popper.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</body>
</html>